<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h2 class="display-7">Companies House Address Search</h2>
        <p class="lead">Enter the company name and officer of the company as registered <br/> with companies house to return the company's registered address.</p>

        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm" class="col-md-6">
            <div class="form-group">
                <label class="form-control-label" for="field_company">Company Name</label>
                <input type="text" class="form-control" name="company" id="field_company"
                       [(ngModel)]="company" />
            </div>

            <div class="row" >
                <div class="form-group" class="col-md-6">
                    <label class="form-control-label" for="field_firstname">First Name</label>
                    <input type="text" class="form-control" name="firstname" id="field_firstname"
                           [(ngModel)]="firstName" />
                </div>
                <div class="form-group" class="col-md-6">
                    <label class="form-control-label" for="field_surname">Surname</label>
                    <input type="text" class="form-control" name="surname" id="field_surname"
                           [(ngModel)]="surname" />
                </div>
            </div>
            <div [ngSwitch]="displayMessage()">
                <div class="alert alert-success"  *ngSwitchCase="1">
                    <span id="found-address-success">{{message}}. </span>
                </div>
                <div class="alert alert-danger"  *ngSwitchCase="2">
                    <span id="found-address-fail"> {{message}}. </span>
                </div>
            </div>

            <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Submit</span>
            </button>
        </form>
    </div>
</div>
